@media (max-width: 1439px){
    .sidepanel{
        display: none;
    }
    .promo{
        &__wrapper{
            padding-left: 50px;
        }
    }
}

@media (max-width: 1200px){
    .container{
        max-width: 960px;
    }
    .promo{
        &__photo{
            right: 9%;
        }
    }
    .about-me{
        &__grid-container{
            grid-template-columns: 400px 520px;
            column-gap: 40px;
            width: 100%;
        }
        &__grid-elem{
            &_list-skill{
                grid-template-columns: repeat(2, 250px);
                column-gap: 20px;
            }
        }
    }
    .used{
        &__grid-container{
            &-skill{
                grid-template: repeat(2, 70px)/repeat(3, minmax(100px, 300px));
            }
        }
    }
    .price{
        &__grid-container{
            padding: 0;
        }
    }
    .contacts{
        &__grid-container{
            margin: 0;
            gap: 20px;
        }
        &__form{
            column-gap: 20px;
            row-gap: 20px;
        }
    }
}

@media (max-width: 992px){
    .container{
        max-width: 720px;
    }
    .promo{
        &__title{
            font-size: 42px;
            line-height: 54px;
        }
    }
    .title{
        &_section{
            font-size: 30px;
            line-height: 50px;
        }
    }
    .about-me{
        padding-top: 40px;
        &__grid-container{
            grid-template-columns: 300px 390px;
            grid-template-rows: repeat(2, minmax(100px, auto));
            row-gap: 20px;
            column-gap: 30px;
        }
        &__grid-elem{
            &_list-skill{
                grid-template-columns: 1fr; 
            }
        }
        &__title{
            font-size: 30px;
            line-height: 50px;
        }
    }
    .useful{
        padding-top: 40px;
        &__grid-container{
            margin-top: 30px;
            padding: 0px;
            column-gap: 30px;
        }
    }
    .used{
        padding-top: 40px;
        &__grid-container{
            &-soft{
                margin-top: 30px;
                grid-template: repeat(3, minmax(100px, auto))/repeat(3, minmax(100px, 270px));
            }
            &-skill{
                margin-top: 40px;
                padding: 0 20px;
                grid-template: repeat(3,70px)/repeat(2,minmax(100px,300px));
            }
        }
    }
    .portfolio{
        padding-top: 40px;
        &__grid-container{
            margin-top: 30px;
            justify-content: center;
            grid-template: repeat(4, minmax(100px,auto))/repeat(2, minmax(100px,280px));
            gap: 20px;
        }
        &__item{
            &-vertical{
                grid-column: 2;
                grid-row: 1/3;
            }
            &-gorizontal{
                grid-column: 1/3;
                grid-row: 3;
            }
        }
    }
    .price{
        padding-top: 40px;
        &__grid-container{
            margin-top: 30px;
            padding: 0;
            grid-template: repeat(3,44px)/repeat(2,350px);
        }
    }
    .contacts{
        padding-top: 40px;
        &__grid-container{
            grid-template-columns: 400px minmax(185px, 300px);
        }
        &__form{
            grid-template: 45px 45px 146px 90px/ repeat(2,minmax(100px, auto));
        }
        &__input{
            grid-column: 1/3;
        }
        &__footer{
            grid-template-columns:220px 80px;
            grid-template-rows: 45px;
        }
        &__btn{
            grid-column: 1/2;
        }
        &__policy{
            grid-column: 1/3;
        }
        &__foto{
            img{
                width: 100%;
            }
        }
        &__deskr{
            &_delete{
                display: none;
            }
        }
    }
}

@media (max-width: 768px){
    .container{
        max-width: 540px;
    }
    .promo{
        &__title{
            font-size: 40px;
            line-height: 46px;
            margin-top: 20px;
            width: 425px;
        }
    }
    .about-me{
        &__grid-container{
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, auto);
            row-gap: 20px;
        }
        &__grid-elem{
            &_foto{
                grid-column-start: 1;
                grid-row-start: 1;
                grid-row-end: 2;
            }
            &_text{
                grid-column-start: 1;
                grid-row-start: 2;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
            &_list-skill{
                grid-column-start: 1;
                grid-row-start: 3;
                grid-template-columns: 1fr; 
                grid-template-rows: repeat(3, auto);
            }
        }
        &__title{
            font-size: 30px;
            line-height: 50px;
        }
    }
    .useful{
        &__grid-container{
            margin-top: 30px;
            grid-template-columns:  minmax(250px,520px);
        }
    }
    .used{
        padding-top: 40px;
        &__grid-container{
            &-soft{
                margin-top: 30px;
                grid-template: repeat(4, minmax(100px, auto))/repeat(2, minmax(100px, 270px));
            }
            &-skill{
                padding: 0 10px;
                grid-template: repeat(3,70px)/repeat(2,minmax(100px,240px));
            }
        }
    }
    .portfolio{
        &__grid-container{
            gap: 10px;
        }
    }
    .price{
        &__grid-container{
            margin-top: 30px;
            padding: 0;
            grid-template: repeat(4,44px)/540px;
        }
    }
    .contacts{
        &__grid-container{
            grid-template-columns: 540px; 
        }
        &__foto{
            display: none;
        }
        &__deskr{
            &_delete{
                display: block;
            }
        }
        &__form{
            grid-template: 45px 190px 45px/ repeat(2,minmax(100px, 260px));
        }
        &__input{
            grid-column: auto;
        }
        &__footer{
            grid-template-columns:220px 300px;
        }
        &__btn{
            grid-column: 1/2;
        }
        &__policy{
            grid-column: 2/3;
        }
    }
}

@media (max-width: 576px){
    .container{
        width: 100%;
        padding: 0 10px;
    }
    .title{
        &_section{
            font-size: 24px;
            line-height: 36px;
            margin-top: 26px;
        }
    }
    .line{
        margin-top: 15px;
    }
    .promo{
        &__wrapper{
            text-align: center;
            padding-left: 0;
        }
        &__photo{
            display: none;
        }
        &__title{
            font-size: 26px;
            line-height: 39px;
            width: 300px;
            margin-top: 9px;
        }
        &__buttons{
            padding: 0 20px;
            width: auto;
        }
        .hamburger{
            right: 20px;
        }
    }
    .menu{
        &__block{
            width: 250px;
            padding-top: 50px;
            padding-left: 30px;
        }
        &__list{
            padding-left: 15px;
        }
    }
    .about-me{
        &__grid-elem{
            &_text{
                margin-top: 20px;
            }
        }
        &__title{
            font-size: 24px;
            line-height: 36px;
            margin-top: 26px;
        }
        &__line{
            margin-top: 15px;
        }
        &__skill-link{
            padding: 0 30px 0 60px;
        }
    }
    .useful{
        padding-top: 40px;
        &__grid-container{
            margin-top: 0;
        }
        &__item{
            margin-top: 10px;
        }
        &__mini-title{
            margin-bottom: 45px;
        }
        &__column{
            margin-top: 40px;
        }
    }
    .used{
        &__grid-container{
            &-soft{
                padding: 0 15px;
                margin-top: 20px;
                grid-template: repeat(6, minmax(100px, auto))/270px;
                gap: 10px;
            }
            &-skill{
                padding: 0 10px;
                grid-template: repeat(4,70px)/minmax(100px,300px);
                gap: 40px;
            }
        }
    }
    .portfolio{
        &__grid-container{
            margin-top: 40px;
            justify-content: center;
            grid-template: repeat(6, minmax(100px,280px))/ 280px;
            gap: 20px;
        }
        &__item{
            &-vertical{
                grid-column: 1;
                grid-row: 1;
            }
            &-gorizontal{
                grid-column: 1;
                grid-row: 3;
            }
        }
    }
    .price{
        &__grid-container{
            margin-top: 20px;
            grid-template: repeat(6,auto)/300px;
            gap: 20px;
            justify-content: center;
        }
        &__line{
            margin-top: 21px;
        }
    }
    .contacts{
        padding-bottom: 50px;
        &__grid-container{
            grid-template-columns: 300px;
        }
        &__foto{
            display: none;
        }
        &__form{
            grid-template: 45px 45px 143px 101px/ 300px;
            column-gap: 0;
        }
        &__input{
            grid-column: 1/2;
        }
        &__footer{
            grid-template: 48px 45px/ 220px;
            justify-content: center;
            gap: 20px;
        }
        &__btn{
            grid-column: 1;
            grid-row: 2;
        }
        &__policy{
            grid-column: 1;
            grid-row: 1;
            display: flex;
            justify-content: space-between;
            padding: 0 15px;
        }
    }
}