.about-me{
    padding: 60px 0;
    &__grid-container{
        width: 1040px;
        min-height: 600px;
        display: grid;
        grid-template-columns: 400px 570px;
        grid-template-rows: 245px 315px;
        column-gap: 70px;
        row-gap: 40px;
    }
    &__grid-elem{
        &_foto{
            grid-column-start: 1;
            grid-row-start: 1;
            grid-row-end: 3;
            background: url('../../img/foto/Photo.jpg');
        }
        &_text{
            grid-column-start: 2;
            grid-row-start: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        &_list-skill{
            grid-column-start: 2;
            grid-row-start: 2;
            display: grid;
            grid-template-columns: repeat(2, 260px);
            grid-template-rows: repeat(2, 116px);
            column-gap: 50px;
            row-gap: 20px;
        }
    }
    &__title{
        margin-top: 6px;
    }
    &__line{
        margin-top: 4px;
        @include line;
    }
    &__text{
        margin-top: 20px;
        font-weight: 500;
    }
    &__skill-link{
        padding-left: 60px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        @include orange_circle;
        &:before{
            top: 0;
            left: 0;
        }
        z-index: 1;   
    }
}