.sidepanel{
    z-index: 2;
    position: fixed;
    width: 338px;
    height: 24px;
    top: 225px;
    left: -100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: rotate(-90deg) translateX(-50%) ;
    &__line{
        width: 70px;
        height: 0px;
        border: 2px solid #000;
        margin: 0 15px;
    }
}