.social-icons{
    width: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__link{
        margin-right: 15px;
        &:nth-child(3){
            margin-right: 0px;
        }
        svg{
            fill: #000;
            transition: all .15s;
            &:hover{
                fill: $main-color;
            }
        }
        &_menu{
            svg{
                fill: #000;
                transition: all .15s;
                &:hover{
                    fill: #FFF;
                }
            }
        }
    }
}

.social-icons-30{
    margin-top: 20px;
    width: 135px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}