.used{
    min-height: 1024px;
    padding: 60px 0;
    &__grid-container{
        &-soft{
            margin-top: 60px;
            padding: 0 10px;
            display: grid;
            grid-template: repeat(2, minmax(100px, auto))/repeat(4, minmax(100px, 270px));
            gap: 13px;
            //align-items: center;
            justify-items: start;
        }
        &-skill{
            margin-top: 120px;
            display: grid;
            grid-template: repeat(2, 70px)/repeat(3, minmax(100px, 350px));
            justify-content: space-between;
            row-gap: 30px;
        }
    }
    &__item{
        border: 2px solid $main-color;
        border-radius: 25%;
        background-color:  $bg-color;
        padding: 30px 30px 25px 30px;
        &:nth-child(4){
            padding-top: 45px;
        }
        &:nth-child(7){
            padding-top: 38px;
        }
        &-name{
            margin-top: 20px;
            &-mt33px{
                margin-top: 33px;
            }
        }
        &-text{
            margin-top: 15px;
        }
        &-skill{
            padding-top: 8px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: start;
            position: relative;
            &-degr{
                position: absolute;
                top: 0;
                right: 0;
            }
            &-line{
                width: 100%;
                height: 14px;
                background: #E8E4DE;
                border-radius: 4px;
            }
            span{
                display: block;
                height: 14px;
                background: $main-color;
                border-radius: 4px;
                z-index: 2;
            }
        }
    }
}